<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="/js/script.js"></script>
  </head>
  <body>
    <div class="login-container">
      <div class="login-box">
        <div class="login-title">ĐĂNG NHẬP</div>
        <div id="errorMessage" class="error-message"></div>
        <div class="login-form">
          <div>
            <label for="email">Tên đăng nhập:</label>
            <input type="text" id="email" name="email" required />
          </div>
          <div>
            <label for="password">Mật khẩu:</label>
            <input type="password" id="password" name="password" required />
          </div>
          <div>
            <button id="loginBtn" type="button">Đăng nhập</button>
            <button id="resetBtn" type="button">Xóa</button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">Copyright by @hmu</div>
  </body>
</html>
